<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>initServlet</display-name>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>user.web.servlet.initServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/initServlet</url-pattern>
  </servlet-mapping>


<servlet>
    <description></description>
    <display-name>artistfindAll</display-name>
    <servlet-name>artistfindAll</servlet-name>
    <servlet-class>artist.web.servlet.artistfindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artistfindAll</servlet-name>
    <url-pattern>/artistfindAll</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>albumfindAll</display-name>
    <servlet-name>albumfindAll</servlet-name>
    <servlet-class>album.web.servlet.albumfindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>albumfindAll</servlet-name>
    <url-pattern>/albumfindAll</url-pattern>
  </servlet-mapping>


<servlet>
    <description></description>
    <display-name>songfindAll</display-name>
    <servlet-name>songfindAll</servlet-name>
    <servlet-class>song.web.servlet.songfindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songfindAll</servlet-name>
    <url-pattern>/songfindAll</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>albumComplex</display-name>
    <servlet-name>albumComplex</servlet-name>
    <servlet-class>album.web.servlet.albumComplex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>albumComplex</servlet-name>
    <url-pattern>/albumComplex</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>albumComplex2</display-name>
    <servlet-name>albumComplex2</servlet-name>
    <servlet-class>album.web.servlet.albumComplex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>albumComplex2</servlet-name>
    <url-pattern>/albumComplex2</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>songComplex</display-name>
    <servlet-name>songComplex</servlet-name>
    <servlet-class>song.web.servlet.songComplex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songComplex</servlet-name>
    <url-pattern>/songComplex</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>songartistComplex</display-name>
    <servlet-name>songartistComplex</servlet-name>
    <servlet-class>songartist.web.servlet.songartistComplex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songartistComplex</servlet-name>
    <url-pattern>/songartistComplex</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>songartistComplex2</display-name>
    <servlet-name>songartistComplex2</servlet-name>
    <servlet-class>songartist.web.servlet.songartistComplex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songartistComplex2</servlet-name>
    <url-pattern>/songartistComplex2</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>songartistComplex3</display-name>
    <servlet-name>songartistComplex3</servlet-name>
    <servlet-class>songartist.web.servlet.songartistComplex3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songartistComplex3</servlet-name>
    <url-pattern>/songartistComplex3</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>songartistComplex4</display-name>
    <servlet-name>songartistComplex4</servlet-name>
    <servlet-class>songartist.web.servlet.songartistComplex4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songartistComplex4</servlet-name>
    <url-pattern>/songartistComplex4</url-pattern>
  </servlet-mapping>

      <servlet>
    <description></description>
    <display-name>songartistComplex5</display-name>
    <servlet-name>songartistComplex5</servlet-name>
    <servlet-class>songartist.web.servlet.songartistComplex5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songartistComplex5</servlet-name>
    <url-pattern>/songartistComplex5</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>songComplex2</display-name>
    <servlet-name>songComplex2</servlet-name>
    <servlet-class>song.web.servlet.songComplex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songComplex2</servlet-name>
    <url-pattern>/songComplex2</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>songComplex3</display-name>
    <servlet-name>songComplex3</servlet-name>
    <servlet-class>song.web.servlet.songComplex3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songComplex3</servlet-name>
    <url-pattern>/songComplex3</url-pattern>
  </servlet-mapping>


<servlet>
    <description></description>
    <display-name>song_update</display-name>
    <servlet-name>song_update</servlet-name>
    <servlet-class>song.web.servlet.song_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>song_update</servlet-name>
    <url-pattern>/song_update</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>album_update</display-name>
    <servlet-name>album_update</servlet-name>
    <servlet-class>album.web.servlet.album_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album_update</servlet-name>
    <url-pattern>/album_update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>artist_update</display-name>
    <servlet-name>artist_update</servlet-name>
    <servlet-class>artist.web.servlet.artist_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artist_update</servlet-name>
    <url-pattern>/artist_update</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>artist_delete</display-name>
    <servlet-name>artist_delete</servlet-name>
    <servlet-class>artist.web.servlet.artist_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artist_delete</servlet-name>
    <url-pattern>/artist_delete</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>song_delete</display-name>
    <servlet-name>song_delete</servlet-name>
    <servlet-class>song.web.servlet.song_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>song_delete</servlet-name>
    <url-pattern>/song_delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>album_delete</display-name>
    <servlet-name>album_delete</servlet-name>
    <servlet-class>album.web.servlet.album_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album_delete</servlet-name>
    <url-pattern>/album_delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>artist_read</display-name>
    <servlet-name>artist_read</servlet-name>
    <servlet-class>artist.web.servlet.artist_read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artist_read</servlet-name>
    <url-pattern>/artist_read</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>album_read</display-name>
    <servlet-name>album_read</servlet-name>
    <servlet-class>album.web.servlet.album_read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album_read</servlet-name>
    <url-pattern>/album_read</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>song_read</display-name>
    <servlet-name>song_read</servlet-name>
    <servlet-class>song.web.servlet.song_read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>song_read</servlet-name>
    <url-pattern>/song_read</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>album_insert</display-name>
    <servlet-name>album_insert</servlet-name>
    <servlet-class>album.web.servlet.album_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album_insert</servlet-name>
    <url-pattern>/album_insert</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <display-name>song_insert</display-name>
    <servlet-name>song_insert</servlet-name>
    <servlet-class>song.web.servlet.song_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>song_insert</servlet-name>
    <url-pattern>/song_insert</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>artist_nameinsert</display-name>
    <servlet-name>artist_nameinsert</servlet-name>
    <servlet-class>artist.web.servlet.artist_nameinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artist_nameinsert</servlet-name>
    <url-pattern>/artist_nameinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
